beautifulsoup4==4.12.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
darkdetect==0.8.0
fake-headers==1.0.2
gevent==22.10.2
greenlet==2.0.2
grequests==0.6.0
html5lib==1.1
idna==3.4
msvc-runtime==14.34.31931; sys_platform == 'win32'
Nuitka==1.5.4
ordered-set==4.1.0
pycparser==2.21
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
requests==2.28.2
six==1.16.0
soupsieve==2.4
urllib3==1.26.15
webencodings==0.5.1
zope.event==4.6
zope.interface==6.0
zstandard==0.20.0
